In [2]:
import csv

In [6]:
from pathlib import Path
import pandas as pd

In [4]:
csv_file = Path('budget_data.csv')

In [8]:
df = pd.read_csv(csv_file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [11]:
total_months = 0
month_change = []
net_change_list= []
greatest_increase = ["",0]
greatest_decrease = ["",999999999999999]
total_net = 0

In [13]:
with open(csv_file) as f:
    reader = csv.reader(f)
    header = next(reader)
    
    first_row = next(reader)
    total_months = total_months + 1
    total_net = total_net+int(first_row[1])
    prev_net =int(first_row[1])
    
    for i in reader:
        
        total_months = total_months+1
        total_net = total_net+int(i[1])
        
        net_change = int(i[1]) - prev_net
        prev_net = int(i[1])
        net_change_list = net_change_list + [net_change]
        month_change = month_change + [i[0]]
        
        if net_change > greatest_increase[1]:
            greatest_increase[0] = i[0]
            greatest_increase[1] = net_change
            
        if net_change < greatest_decrease[1]:
            greatest_decrease[0] = i[0]
            greatest_decrease[1] = net_change

In [14]:
greatest_increase

['Feb-2012', 1926159]

In [15]:
greatest_decrease

['Sep-2013', -2196167]

In [19]:
net_monthly_avg = round(sum(net_change_list) / len(net_change_list),2)

In [20]:
net_monthly_avg

-2315.12

In [22]:
with open('output.txt','w') as txt_file:
    txt_file.write('financial analysis\n')
    txt_file.write(f'Total Month: {total_months}\n')
    txt_file.write(f'Total : {total_net}\n')
    txt_file.write(f'Avergae Monthly Change :{net_monthly_avg}\n')
    txt_file.write(f'Greatest Profit, month : {greatest_increase[0]}, profit : {greatest_increase[1]}\n')
    txt_file.write(f'Greatest Loss , month : {greatest_decrease[0]}, loss : {greatest_decrease[1]}')